body {
    background-image: url(/images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.header {
    /*padding: 53px 66px;*/
    width: 10px;
}

.header img {
    width: 217px;
}

.mockups {
    padding: 26px 66px;
}

.mockups img {
    width: 100%;
}

.heading {
    font-family: 'Poppins', Tahoma, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-top: 80px;
    padding-right: 150px;
}

.paragraph {
    padding-right: 80px;
}

button {
    width: 175px;
    height: 40px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: none;
    border-radius: 30px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.attribution {
    font-size: 15px;
}

.attribution a {
    color: hsl(300, 69%, 71%);
    text-decoration: none;
}


.sm-icons {
    text-align: right;
    padding-right: 80px;
}

.sm-icons a {
    margin: 0 7px;
    --fa-border-padding: 0.5em;
    --fa-border-radius: 100%;
    --fa-border-width: 0.1em;
    text-decoration: none;
    color: white;
}

.sm-icons a:hover {
    --fa-border-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: hsl(300, 69%, 71%);
}